/* Reset */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3;
  background-color: #fff;
  color: black;
}

/* Mhamad */
img {
  height: 100%;
}

/* Mhamad: top-nav */
.top-nav {
  width: 24.375rem;
  height: 5.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d4d4d4;
  padding: 0.3125rem 1.25rem;
}

.top-nav h2 {
  font-size: 2.6875rem;
  font-weight: 900;
  color: white;
}

.top-nav .hamburger-container {
  width: 1.9375rem;
  height: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav .hamburger {
  position: absolute;
  width: 1.9375rem;
  height: 0.0625rem;
  background-color: white;
}

.top-nav .hamburger::before,
.top-nav .hamburger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

.top-nav .hamburger::before {
  top: -0.625rem;
}

.top-nav .hamburger::after {
  top: 0.625rem;
}

.top-nav .profile-pic {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  background-color: white;
}

/* Mhamad:side-nav */
.side-nav {
  /* to hide when not clicked */
  /* top: 0;
  left: -100%; */
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #7575c1;
  display: flex;
  flex-direction: column;
  padding-bottom: 3.375rem;
}

.side-nav-logo-container {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-nav-logo {
  height: 7rem;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.side-nav-close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
}

.side-nav-tab-container {
  height: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav-tab {
  width: 100%;
  padding: 0.75rem 0 0.75rem 1.25rem;
  display: flex;
  align-items: center;
  border-radius: 3rem 0 0 3rem;
  -webkit-border-radius: 3rem 0 0 3rem;
  -moz-border-radius: 3rem 0 0 3rem;
  -ms-border-radius: 3rem 0 0 3rem;
  -o-border-radius: 3rem 0 0 3rem;
  gap: 1rem;
}

.side-nav-tab img {
  width: 1.6rem;
  height: 1.6rem;
}

.side-nav-tab p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* on click show side-nav */
/* .side-nav .slide {
  left: 0;
  transition: all 0.4s ease-in-out;
}*/

@media screen and (min-width: 28rem) {
  .side-nav {
    width: 5rem;
  }

  .side-nav-tab-container {
    padding: 0;
    align-items: center;
  }

  .side-nav-close-btn {
    display: none;
  }

  .side-nav-tab {
    width: auto;
    padding: 0.5rem;
    border-radius: 20px;
  }

  .side-nav-tab img {
    margin: 0;
  }

  .side-nav-tab p {
    display: none;
  }
  .side-nav-logo {
    height: 5rem;
  }
}

@media screen and (min-width: 60rem) {
  .side-nav {
    width: 30%;
  }

  .side-nav-tab-container {
    padding-left: 2rem;
    /* align-items: center; */
  }

  .side-nav-tab {
    width: 100%;
    padding: 0.75rem 0 0.75rem 1.25rem;
    border-radius: 3.125rem 0 0 3.125rem;
  }

  .side-nav-tab img {
    margin-right: 2.3125rem;
  }

  .side-nav-tab p {
    display: block;
  }
  .side-nav-logo {
    height: 7rem;
  }
}
