/* styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.main-container {
  display: flex;
  position: relative;
}
/* Add styles here to customize the appearance of your app */
.logo {
  height: 1.8rem;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1.2rem;
  border-bottom: 3px solid #54549f;
  align-items: center;
  gap: 1rem;
}
.user-profile-picture {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #54549f;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.app-container {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.app-body {
  flex: 1 1;
}
.nav-bar {
  border-right: 3px solid #54549f;
  height: 100vh;
  padding: 6rem 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.nav-icon:hover {
  background: lightgray;
}

@media screen and (max-width: 25rem) {
  .nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-right: none;
    border-top: 3px solid #54549f;
    height: auto;
    padding: 0rem 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}
