/* styles.css */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: unset;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: Nunito, sans-serif;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
img {
  max-width: 100%;
}
.main-container {
  display: flex;
  position: relative;
}
/* Main layout */
.logo {
  height: 1.8rem;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1.2rem;
  border-bottom: 3px solid #54549f;
  align-items: center;
  gap: 1rem;
}
.user-profile-picture {
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #54549f;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.app-container {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow: hidden;
  height: 100vh;
}
.app-body {
  flex: 1 1;
  overflow: auto;
}
.nav-bar {
  border-right: 3px solid #54549f;
  height: 100vh;
  padding: 6rem 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #eee;
}
.nav-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.nav-icon:hover {
  background: lightgray;
}

@media screen and (max-width: 25rem) {
  .nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-right: none;
    border-top: 3px solid #54549f;
    height: auto;
    padding: 0rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
}

/* lists */

.sellers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 2rem 0rem;
}
/* user card */
.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
  border: 1px solid #eee;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
  flex: 1 1 20rem;
}
.user-card:hover {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.25);
}

.user-card-img-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.user-card-img-container {
  width: 4rem;
  height: 4rem;
  min-width: 4rem;
  border-radius: 50%;
  background-color: #999999;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
}
.user-card-edit {
  cursor: pointer;
}

/* label */

.label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0;
}

.label-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* sold product */

.sold-products-container {
  background-color: #eee;
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  text-align: center;
}

.stat-product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-card-img {
  flex: 1 1;
  overflow: hidden;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/* uList */

.uList {
  padding: 1rem;
}

/* statistics page  */
.statistics-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.statistics-card {
  flex: 1 1 20rem;
}

@media screen and (min-width: 36rem) {
  .statistics-cards-container {
    padding: 1rem;
  }
}

/* tab */

.tab-component {
}
.tabs-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0rem 1rem;
}
.tab {
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  border: 1px solid #54549f;
  padding: 0.3rem 0.6rem;
  background: white;
  width: 100%;
  cursor: pointer;
  -webkit-border-radius: 0.3rem 0.3rem 0rem 0rem;
  -moz-border-radius: 0.3rem 0.3rem 0rem 0rem;
  -ms-border-radius: 0.3rem 0.3rem 0rem 0rem;
  -o-border-radius: 0.3rem 0.3rem 0rem 0rem;
}
.active-tab {
  border: 0px;
}

.tab-body {
  padding: 0.3rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
