* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: unset;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
img {
  width: 100%;
}

.product-card {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex: 1 1 20rem;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #d9d9d9;
  padding: 1.2rem;
  background-color: white;
  max-width: 40rem;
  border-radius: 18px;
  justify-content: center;
}
.vertical {
  max-width: 18rem;
}
.horizontal {
  max-width: 50rem;
}

.card-info {
  display: flex;
  gap: 1rem;
  flex: 1 1 12rem;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.product-card-img-container {
  display: flex;
  border-radius: 12px;
  min-width: 16rem;
  flex: 0 1 5rem;
  align-items: center;
}

.product-card-info {
  display: flex;
  flex: 1 1 12rem;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.product-names-prices {
  display: flex;
  flex-direction: column;
}

.product-name-seller {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 1.75rem;
  font-weight: 700;
  color: #54549f;
}

.seller-brand {
  color: #54549f;
  font-size: 1rem;
  font-weight: 900;
}

.product-price {
  display: flex;
  gap: 0.25rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;

  color: #54549f;
}

.discount {
  font-size: 1.5rem;
  font-weight: 700;
  color: #e21a58;
}
.product-card-icons {
  display: flex;
  gap: 3rem;
}

.product-card-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-start;
}
.product-card-button {
  font-size: 1.2rem;
  font-weight: 800;
  color: #54549f;
  text-align: center;
  cursor: pointer;
}

.button {
  font-size: 1.2rem;
  font-weight: 800;
  color: white;
  text-align: center;
  background-color: #e21a58;
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  border-style: none;
}

.input {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-style: none;
  border-radius: 0.6rem;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
}
.card-total {
  font-size: 1.5rem;
  font-weight: 700;
  color: #54549f;
}

.apply-btn {
  font-size: 1rem;
}

.buy-btn {
  width: 10rem;
}

.checkout-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 25rem;
  border-radius: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--gainsboro);
  padding: 1rem;
  color: #54549f;
}

.checkout-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.checkout-voucher {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  flex: 1 1;
}

.quantity-input {
  max-width: 12rem;
}

.voucher-input {
  max-width: 13rem;
}

.total-price {
  color: #e21a58;
}
